.btn-primary{
  background-color: #5eb5f8;
}
.car__class{
  color:black;
  
}
.card-body__class{
  background-color: rgb(11, 140, 245);
  border-radius:25px;
  box-shadow: 2px 2px 2px 2px rgb(171,219,227);
}