.filter__container {
  background-color:  rgb(46, 45, 45);
  box-shadow: 2px 2px 2px 2px rgb(171,219,227);
  border-radius:25px;
  width: 200px;
  height: 400px;
  position: relative;
  top: 150px;
  left: 20px;
  color: white;
}
