.filter__container {
  background-color:  rgb(46, 45, 45);
  box-shadow: 2px 2px 2px 2px rgb(171,219,227);
  border-radius:25px;
  width: 20rem;
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  color: white;
}
