.stock__parsed{
 display: flex;
 /* flex-direction: row;
 justify-content:space-between; */
 flex-wrap: wrap;
}
.stock__parsed > div{ 
 flex:20%;
}
.stockdetails__container{
  width:50rem;
  color:white;
  background-color:black;
  position:relative;
  margin-right: 0.75rem;
  left:.75rem;
  top:3rem;
}
